.menuFilter {
  width: 30vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(230, 18, 18, 0.919);
  overflow: hidden;
  box-shadow: 0 0 10px 6px rgba(191, 34, 34, 0.929);
  z-index: 10;
  transform: translate(105%);
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.menuFilter.active {
  transform: translate(0%);
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: rgb(245, 245, 245);
  padding-top: .2rem;
}

.closeCross {
  width: 25px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 25px;
}

.choiceFilter {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.filterWord {
  width: inherit;
  font-size: 1.5rem;
  font-family: "Jura", sans-serif;
  color: rgb(245, 245, 245);
  font-weight: 700;
  margin: 0px auto;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(191, 34, 34, 0.929);
}

.sectionAvailability,
.sectionPricing {
  width: inherit;
  margin: 0px auto;
  padding: 30px 0px;
  border-bottom: 1px solid rgba(191, 34, 34, 0.929);
}

.titleAvailability,
.titlePricing {
  font-size: 1.2rem;
  font-family: "Jura", sans-serif;
  color: rgb(245, 245, 245);
  font-weight: 600;
  margin: 15px 0px;
}

.availability,
.pricing {
  font-size: 0.9rem;
  font-family: "Jura", sans-serif;
  color: rgb(245, 245, 245);
}

input {
  background-color: initial;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .menuFilter {
    width: 70vw;
  }
}

@media (max-width: 700px) {
  .menuFilter {
    width: 80vw;
  }
}
